#titlearea #projectlogo img { padding: 5px; }

#projectname { font-size: 200%; }

body, table, div, p, dl {
	font: 400 14px/22px Roboto,sans-serif;
  color: #262626;
  margin-right: 0px;
}


div.directories { font-style: italic; }

div.directories span.level1 { margin-left: 5px; }

div.directories span.level2 { margin-left: 30px; }

div.directories span.level3 { margin-left: 55px; }

div.directories span.level4 { margin-left: 80px; }

div.contents {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 8px;
  width: 900px;
}

div.toc {
        padding: 7px;
        background-color: #F4F6FA;
        border: 1px solid #D8DFEE;
        border-radius: 7px 7px 7px 7px;
        float: right;
        position: fixed;
        height: 500px;
        overflow: scroll;
        margin: -100px 8px 10px 910px;
        width: 275px;
}

div.toc.li { padding-left: 0px; }

div.toc li.level1 { margin-left: 0px; }

div.toc li.level2 { margin-left: 8px; }

div.toc li.level3 { margin-left: 13px; }

div.toc li.level4 { margin-left: 18px; }

div.line { line-height: 1.25; }

div.fragment {
  white-space: 10px;
  padding: 10px;
  margin-left: 40px;
  margin-right: 5px;
  margin-bottom: 15px;
}

h1 {
  color: #000000;
  line-height: 150%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #000000;
  margin-top: 40px;
}

h2 {
  color: #000000;
  line-height: 130%;
  margin-top: 30px;
}

h3 {
  color: #000000;
  line-height: 120%;
  margin-top: 20px;
}

.tablist a {
  padding: 0 10px;
  border-left: 1px solid #a6b7d8;
}

table.doxtable th {
	background-color: #B3E3FD;
	color: #000000;
  font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
	font-size: 100%;
	padding-bottom: 4px;
	padding-top: 5px;
}

table.doxtable {
	border-collapse:collapse;
  margin-left: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.code-collapse-show {
  color: #DF4D19;
  background: transparent url(codeOpenBlue2.png) no-repeat left bottom;
  margin-left: 40px;
  padding-left: 20px;
}

.code-collapse-hide {
  color: #DF4D19;
  background: transparent url(codeOpenRed2.png) no-repeat left top;
  margin-left: 40px;
  padding-left: 20px;
}

.image-display-show {
  color: #DF4D19;
  background: transparent url(codeOpenBlue2.png) no-repeat left bottom;
  margin-left: 40px;
  padding-left: 20px;
}

.image-display-hide {
  color: #DF4D19;
  background: transparent url(codeOpenRed2.png) no-repeat left top;
  margin-left: 40px;
  padding-left: 20px;
}

.important {
  margin-left: 0px;
  text-indent: -37px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  border-left: 4px solid;
  border-color: #FF0000;
}

.hangindent {
  padding-left: 39px;
  padding-bottom: 5px;
  text-indent: -15px;
  padding-top: 5px;
}

.hangindent10 {
  padding-left: 39px;
  padding-bottom: 5px;
  text-indent: -23px;
  padding-top: 5px;
}

.hangindent2 {
  padding-left: 59px;
  padding-bottom: 2px;
  text-indent: -15px;
  padding-top: 2px;
}

.indent {
  padding-left: 39px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.indent2 {
  padding-left: 59px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.bullindentem {
  background: transparent url(em2.png) no-repeat left top;
  padding-left: 20px;
  text-indent: -15px;
}

.bullem {
  background: transparent url(em2.png) no-repeat left top;
  padding-left: 18px;
  text-indent: -0px;
}

.bullindent {
  background: transparent url(bullet.png) no-repeat left top;
  padding-left: 20px;
  text-indent: -15px;
}

.bull {
  background: transparent url(bullet.png) no-repeat left top;
  padding-left: 18px;
  text-indent: -0px;
}

.pointnumber {
  padding-left: 50px;
  padding-bottom: 5px;
  text-indent: -25px;
  padding-top: 5px;
}

.space {
  padding-top: -5px;
  padding-bottom: -5px;
}

.intro {
  border-radius: 25px;
  background-color: #B3E3FD;
  width: 850px;
  text-indent: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.tight {
  padding-left: 18px;
  text-indent: -18px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.introsent {
  font-style: italic;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: -5px;
}

/* Swift class documentation */
.objcmethodname {
  color: darkmagenta;
}

.parameter {
  font-weight: bold;
  color: #8B0000
}
